@{
    ViewBag.Title = L("登录");
    Layout = null;
}


<div class="x-form-wrapper x-form-container">
    <div class="animated ">
        <form name="form" method="post" action="{{model.identity.loginUrl}}" novalidate="novalidate">
            <i-anti-forgery-token token="model.identity.antiForgery"></i-anti-forgery-token>
            <div class="form-group">
                <div class="x-brand-conatiner">
                </div>
            </div>
            <div class="form-group">
                <div class="x-title">X-DVA ID</div>
            </div>
            <div class="form-group">
                <div ng-show="model.identity.errorMessage != null">
                    <span class="x-warning-icon">{{model.identity.errorMessage}}</span>
                </div>
                <div class="x-input">
                    <span class="x-icon"><i>@L("手机号/邮箱")</i></span>
                    <input type="text" placeholder="@L("手机号/邮箱")" name="username" ng-model="model.formData.username" />
                </div>
                <div class="x-input x-password">
                    <span class="x-icon"><i>@L("密码")</i></span>
                    <input type="password" placeholder="@L("密码")" name="password" ng-model="model.formData.password" />
                </div>
                <div class="x-btn-link">
                    <input type="checkbox" class="x-check-box" name="RememberMe" value="true" ng-model="model.formData.rememberMe" />
                    <a ng-click="model.remember()" class="x-check-lable">
                        @L("7天内自动登录")
                    </a>
                    <a href="#/id-validate/register">@L("立即注册")</a>
                    <a href="#/id-validate/retrieve_password" class="x-split">@L("忘记密码")</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="x-btn-submit" value="@L("登录")">
            </div>
            <div class="x-line"></div>
            <div class="form-group">
                <ul>
                    <li>
                        <ul class="x-login-three">
                            <li class="x-text">@L("其他账号登录")</li>
                            <li class="{{provider.type.toLowerCase()}}" ng-repeat="provider in model.identity.externalProviders" >
                                <a class="x-extenal-link" ng-href="{{provider.href}}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="x-telphone-login"><a href="#">@L("国际手机号登录") <span><i class="x-arrow"></i></span></a></li>
                </ul>
            </div>
        </form>
    </div>
</div>