
@{
    Layout = null;
}

<div class="animated ">
    <form name="form" method="post" action="{{model.identity.LoginUrl}}" novalidate="novalidate">
        <input type="hidden" name="{{model.identity.AntiForgery.Name}}" value="{{model.identity.AntiForgery.Value}}" />
        <div class="form-group">
            <div class="logo-image"></div>
            <div class="title"></div>
        </div>
        <div class="form-group">
            <div ng-show="model.identity.ErrorMessage != null">
                <span class="warningicon">{{model.identity.ErrorMessage}}</span>
            </div>

            <div class="input">
                <span class="icon"><i>@L("手机号/邮箱")</i></span>
                <input type="text" placeholder="@L("手机号/邮箱")" name="username" ng-model="model.LoginModel.UserName" />
            </div>
            <div class="input password">
                <span class="icon"><i>@L("密码")</i></span>
                <input type="password" placeholder="@L("密码")" name="password" ng-model="model.LoginModel.Password" />
            </div>
            <div class="btn-link">
                <input type="checkbox" class="check-box" name="RememberMe" ng-model="model.LoginModel.RememberMe" />
                <label class="check-lable">@L("7天内自动登录")</label>
                <a href="#/registration-local">@L("立即注册")</a>
                <a href="#/password-fogot" class="split">@L("忘记密码")</a>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-submit" value="@L("登录")">
        </div>
        <div class="line"></div>
        <div class="form-group">
            <ul>
                <li>
                    <ul class="login-three">
                        <li class="text">@L("其他账号登录")</li>
                        <li ng-repeat="provider in model.identity.ExternalProviders" class="{{provider.Type.toLowerCase()}}" link="{{provider.Href}}"></li>
                    </ul>
                </li>
                <li class="telphone-login"><a href="#">@L("国际手机号登录") <span><i class="arrow"></i></span></a></li>
            </ul>
        </div>
    </form>
</div>
