@{
    ViewBag.Title = L("注册帐号");
    Layout = null;
}
<div class="animated fadeIn">
    <div class="form-group">
        <div class="logo-image"></div>
        <div class="title"></div>
    </div>
    <div class="form-group">
        <div ng-show="!!model.error.message">
            <span class="warningicon">{{model.error.message}}</span>
        </div>
        <div class="input">
            <span class="icon"><i>@L("手机号")</i></span>
            <input type="text" placeholder="@L("手机号")" name="mobile"  ng-model="model.payload.mobile" />
        </div>
        <div class="input password">
            <span class="icon"><i>@L("验证码")</i></span>
            <input type="text" class="captcha" placeholder="@L("验证码")" name="captcha" ng-model="model.payload.graphic_captcha" />
            <img class="img-captcha" ng-src={{model.endpoint.captcha}} ng-click="model.fnRefreshCaptcha()" />
        </div>
        <div class="btn-link">
            <p class="agreement">
                <input type="checkbox" class="check-box" checked="checked" disabled="disabled" />
                <label class="check-lable">@L("我已阅读并同意遵守")<a href="{{model.endpoint.agreement}}" target="_blank">@L("法律声明")</a> @L("和")<a href="{{model.endpoint.privacy}}" target="_blank">@L("隐私条款")</a></label>
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="btn-submit">
            <input type="button" class="btn-submit" ng-click="model.fnNext()" value="@L("下一步")">
        </div>
    </div>
    <div class="line"></div>
    <div class="form-group">
        <p class="go-signin">
            <a href="{{model.endpoint.login}}" class="">@("如果您已拥有账号，则可在此") <span>@L("登录")</span></a>
        </p>
    </div>
</div>