@{
    ViewBag.Title = L("短信验证码验证");
    Layout = null;
}
<div class="form-group">
    <div class="logo-image"></div>
    <div class="title"></div>
</div>
<div class="form-group captcha-tip">
    <p>@L("设置您的密码 ,密码长度6~16位，可以是数字、字母或字符")</p>
</div>
<div class="form-group">
    <div ng-show="!!model.error.message">
        <span class="warningicon">{{model.error.message}}</span>
    </div>
    <div class="input password">
        <span class="icon"><i>@L("密码")</i></span>
        <input type="password" placeholder="@L("密码")" name="password" ng-model="model.payload.password"/>
    </div>
    <div class="input password">
        <span class="icon"><i>@L("重复密码")</i></span>
        <input type="password" placeholder="@L("重复密码")" name="confirmPassword" ng-model="model.payload.confirm_password" />
    </div>
    <div class="btn-link">
        <p class="agreement">
            <input type="checkbox" class="check-box" checked="checked" disabled="disabled" />
            <label class="check-lable">@L("我已阅读并同意遵守")<a href="{{model.endpoint.agreement}}" target="_blank">@L("法律声明")</a> @L("和")<a href="{{model.endpoint.privacy}}" target="_blank">@L("隐私条款")</a></label>
        </p>
    </div>
</div>
<div class="form-group">
    <div class="btn-submit">
        <input type="button" class="btn-submit" value="@L("完成")" ng-click="model.fnLocalRegistration()">
    </div>
</div>
<div class="line"></div>
<div class="form-group">
    <p class="go-signin">
        <a href="{{model.endpoint.login}}" class="">@("如果您已拥有账号，则可在此") <span>@L("登录")</span></a>
    </p>
</div>
